$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//================//
// Define fonts   //
//================//
@font-face {
  font-family: citizenSlab;
  src: url(fonts/citizen_slab.otf);
}
@import url(http://fonts.googleapis.com/css?family=Oldenburg|Raleway:500);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);


//================//
// Define Sass Vars//
//================//

/*font sizes - arbitrary for the most part*/
$font-size-h1: 3em;
$font-size-h2: 2.25em;
$font-size-h3: 1.755em;
$font-size-h4: 1.68em;
$font-size-h5: 1.245em;
$font-size-nav: 1.68em;


/*font stacks*/
$font-stack-body: 'Raleway', Arial,'Helvetica Neue',Helvetica,sans-serif;
$font-stack-hn: 'citizenSlab', Rockwell,'Courier Bold',Courier,Georgia,Times,'Times New Roman',serif;
$font-stack-header: 'Amatic SC', Rockwell,'Courier Bold',Courier,Georgia,Times,'Times New Roman',serif;


/*color vars*/
$color-green-turquoise: #1abc9c;
$color-green-sea: #16a085;
$color-green-emerald: #2ecc71;
$color-green-nephritis: #2ecc71;
$color-blue-peter-river: #3498db;
$color-blue-belize-hole: #2980b9;
$color-blue-wet-asphalt: #34495e;
$color-blue-midnight: #2c3e50;
$color-purple-amethyst: #9b59b6;
$color-purple-wisteria: #8e44ad;
$color-red-burgundy: #500800;
$color-red-pomegranate: #c0392b;
$color-red-alizarin: #e74c3c;
$color-orange-pumpkin: #d35400;
$color-orange-carrot: #e67e22;
$color-orange-deep: #fb8d24;
$color-orange: #f39c12;
$color-orange-off: #ca9e49;
$color-yellow-sunflower: #f1c40f;
$color-yellow-light: #fffed1;
$color-gray-asbestos: #7f8c8d;
$color-gray-concrete: #95a5a6;
$color-gray-silver: #bdc3c7;
$color-gray-clouds: #ecf0f1;
$color-tan-light: #C2B49A;
$color-tan-brown: #A59275;
$color-tan-gray: #716659;
$color-tan-dark: #47413A;
$color-black-tan: #252525;

/*font colors*/
$font-color-base: $color-blue-midnight;
$font-color-header: $color-gray-clouds;
$font-color-subheader: #333;
$font-color-aside: $color-gray-clouds;
$font-color-alt: $color-orange-off;


/*panel colors*/
$bg-color-body: $color-blue-belize-hole;
$bg-color-header: rgba($color-tan-light, .5);
$bg-color-aside: rgba($color-blue-wet-asphalt,.8);
$bg-color-content: $color-tan-light;
$bg-color-section: $color-tan-brown;
$bg-color-tab: $color-blue-wet-asphalt;
$bg-color-alt: $color-orange;

/*animations*/
$transition-ease: all 0.3s ease-in-out;

//================//
// Base setup ====//
//================//
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  /* Positioning */
  position: absolute;

  /* Box-model */
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  /* Typography */
  font-size: $font-size-base;
  font-family: $font-stack-body;
  color: $color-tan-dark;

  /* Visual */
  background-color: $bg-color-body;

  /* Misc */

  @media screen and (min-width: 767px) {
    h1 {font-size: 3em}
    h2 {font-size: 2.25em}
    h3 {font-size: 1.755em}
    h4 {font-size: 1.245em}
    h5 {font-size: 1.68em}
    //$font-size-h1: 3em;
    //$font-size-h2: 2.25em;
    //$font-size-h3: 1.755em;
    //$font-size-h4: 1.68em;
    //$font-size-h5: 1.245em;
    //$font-size-nav: 1.68em;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-stack-hn;
}
h1 {font-size: $font-size-h1}
h2 {font-size: $font-size-h2}
h3 {font-size: $font-size-h3}
h4 {font-size: $font-size-h4}
h5 {font-size: $font-size-h5}

a {
  text-decoration: none;
  color: $color-tan-dark;
}
ul,
ol {
  list-style: none;
}

[ng-click],
[ui-sref] {
  cursor: pointer;
}

.open-90 {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari */
  transform: rotate(-90deg);
}
.open-45 {
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari */
  transform: rotate(-45deg);
}

.aside-reveal {
  transform: translateX(-250px);
}

//================//
// Aside area style//
//================//
/****** I purposefully left the comments in to help me remember declaration syntax order ********/
.aside {
  /* Positioning */
  position: fixed;
  right: -250px;

  /* Box-model */
  display: block;
  width: 250px;
  height: 100%;

  /* Typography */
  color: $font-color-aside;

  /* Visual */
  background-color: $bg-color-aside;

  /* Misc */
  overflow-y: auto;
  transition: $transition-ease;
}

.aside-vert-nav {
  margin-top: 100px;
  padding-left: 0;

  border-top: solid 1px rgba($color-gray-concrete, .8);
  border-bottom: solid 1px rgba($color-gray-concrete, .8);
}
.aside-vert-nav li {
  border-top: solid 1px rgba($color-gray-concrete, .8);
}
.aside-vert-nav li div {
  display: inline-block;
  height: 50px;
}

.btn-submenu{ padding: 10px 0 0 10px }

.aside .glyphicon {

  padding: 10px;

  line-height: 1.15;
  font-size: $font-size-nav*.8;

  transition: $transition-ease;
}

.aside .glyphicon-remove{
  float: right;
}

.aside-vert-nav .btn-dropdown{
  padding-right: 20px;
}

.aside-vert-nav .title {
  width: 190px;
  padding-top: 5px;
  padding-left: 15px;

  font-size: $font-size-nav;

  //border-right: solid 1px $color-asbestos;

}

//================//
// Header styles  //
//================//
/****** I purposefully left the comments in to help me remember declaration syntax order ********/
.header {
  /* Positioning */
  position: relative;

  /* Box-model */
  display: block;
  width: 100%;
  height: 250px;

  /* Typography */
  color: $font-color-header;
  text-align: center;

  /* Visual */
  background-size: cover;
  background: url("/images/masthead-2.png") center;

  overflow: hidden;

}

.header-bar {
  /* Positioning */
  position: absolute;
  top: 0;
  z-index: 100;

  /* Box-model */
  display: block;
  width: 100%;
  height: 50px;

  /* Visual */
  background-color: $bg-color-header;
  //border-bottom: 1px solid $color-silver;

  /* Misc */
}

.header-aside-toggle {
  float: right;
  margin-right: 10px;
  margin-top: 3px;
  .glyphicon {
    top: 4px
  }
}

/*nested header child elements*/
.header {
  .header-brand,.header-quote {
    position: relative;
    top: 110px;
    width: 49%;
    display: inline-block;
    margin: 0;
  }
  a:hover, a:focus {
    text-decoration: none;
    color: inherit;
  }
  h1 {
    margin:0;
    font-size: $font-size-h1*1.5;
    font-weight: 700;
    font-family: $font-stack-header;
  }
  h3 {
    margin: 0;
    font-family: $font-stack-header;
  }
  @media screen and (max-width: 767px) {
    .header-brand{
      width: 75%; //arbitrary width to keep text inline
    }
  }
}

//================//
// Main area style - all display content goes here aside from aside menu//
//================//

.main{
  position: relative;

  display: block;
  height: 100%;
  width: 100%;

  transition: $transition-ease;

  background-color: $bg-color-content;

}

//================//
// Content area style//
//================//
/****** I purposefully left the comments in to help me remember declaration syntax order ********/
.content{
  /* Positioning */
  position: relative;
  z-index: 10;

  /* Box-model */
  display: block;
  margin-bottom: 100px;
  min-height:100%;
  width: 100%;


  /* Typography */
  color: $font-color-base;

  /* Visual */
  background-color: $bg-color-content;


  /* Misc */
}

.content-page {
  width: 100%;
  max-width: 850px;

  @media screen and (min-width: 768px) {
    width: 77%;
    padding-left: 100px;
  }
}

/*nested items here*/
.content-toggle {
  * {
    display: inline-block;
  }
  i{
    font-size: $font-size-h4;
    transition: $transition-ease;
    color: $font-color-alt;
  }
}

.content-links {
  position: relative;
  padding: 10px;
  background-color: $color-tan-brown;
  text-align: center;
  color: $font-color-alt;
  h2,h1,h3{
    font-family: $font-stack-header;
  }
}
.content-links>div {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  //background: url("/images/yeoman.png") center;
  background-size: cover;
}
.long {
  display: block;
  width: 70%;
  margin: 0 auto 10px auto;
}
.short {
  display: inline-block;
  width: 30%;
  //min-width: 300px;
  margin: 0 auto 10px auto;

  h1{
    margin: 0;
    padding-top: 10%;
    @media screen and (min-width: 767px) {
      font-size: 4em;
      padding-top: 20%;
    }
  }
}

.content-links img {
  //position: absolute;
}

.mask {
  position: absolute;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba($color-gray-concrete, .5);
}

.content a {
  color: $font-color-alt;
  font-weight: 700;
  &:hover{
    text-decoration: underline;
  }
}


.img-reel {
  position: absolute;
  right: 0;
  width: 20%;
  height: 100%;
  //max-width: 200px;
  background-color: $bg-color-alt;
}
.img-holder {
  height: 100%;
  width: 100%;
  background-size: cover;
  background: url("/images/img-canvas-1.png") center;
}

//================//
// Footer styles  //
//================//
.footer {
  height: 250px;
  color: $font-color-alt;

}
