<!-- partials/main.html -->
<div class="content-links">
  <div class="short">
    <img src="images/thumb-1.png" class="img-responsive"/>
    <div class="mask">
      <a ui-sref="event"><h1>Event</h1></a>
    </div>
  </div>
  <div class="short">
    <img src="images/thumb-2.png" class="img-responsive"/>
    <div class="mask">
      <a ui-sref="culture"><h1>Culture</h1></a>
    </div>
  </div>
  <div class="short">
    <img src="images/thumb-3.png" class="img-responsive"/>
    <div class="mask">
      <a ui-sref="info"><h1>Info</h1></a>
    </div>
  </div>

</div>

<div id="burn-intro" class="main-section">
</div>


<a ui-sref="main.list">Show List</a>

<div ui-view></div>
