<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="burnRedoApp" ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!-- Aside and Navigation -->
    <div class="aside" ng-class="{'aside-reveal': aside}">
      <!-- Close Button for the Aside -->
      <span class="glyphicon glyphicon-remove" ng-click="toggleAside()"></span>

      <!-- Navigation -->
      <ul class="aside-vert-nav">
        <li>
          <div ng-click="toggleAside()" ui-sref="event.koreaburn2015" class="title">Event</div>
          <div ng-click="toggleSubmenu('event')" class="btn-submenu">
            <span class="glyphicon glyphicon-chevron-down" ng-class="{'open-90': openSub !== 'event'}"></span>
          </div>
          <ul collapse="openSub !== 'event'">
            <li>Korea Burn 2015</li>
            <li>Schedule</li>
            <li>Art and Performance</li>
            <li>Theme Camps</li>
            <li>Preparation</li>
          </ul>
        </li>
        <li>
          <div ng-click="toggleAside()" ui-sref="culture" class="title">Culture</div>
          <div ng-click="toggleSubmenu('culture')" class="btn-submenu">
            <span class="glyphicon glyphicon-chevron-down" ng-class="{'open-90': openSub !== 'culture'}"></span>
          </div>
          <ul collapse="openSub !== 'culture'">
            <li>10 Principles</li>
            <li>Leave No Trace</li>
            <li>Participation</li>
          </ul>
        </li>
        <li>
          <div ng-click="toggleAside()" ui-sref="info" class="title">Info</div>
          <div ng-click="toggleSubmenu('info')" class="btn-submenu">
            <span class="glyphicon glyphicon-chevron-down" ng-class="{'open-90': openSub !== 'info'}"></span>
          </div>
          <ul collapse="openSub !== 'info'">
            <li>Tickets</li>
            <li>Schedule</li>
            <li>Getting There</li>
            <li>Rules and Regs</li>
            <li>Accommodations</li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- End of Aside -->

    <div class="main" ng-class="{'aside-reveal': aside}">
      <div class="header">
        <div class="header-bar">
          <div class="header-aside-toggle" ng-click="toggleAside()">
            <h5>Menu <span class="glyphicon glyphicon-menu-hamburger"></span></h5>
          </div>
        </div>
        <div class="header-brand"><a ui-sref="main"><h1>Korea Burn</h1></a></div>
        <div class="header-quote hidden-xs"><h3 >Some inspiring quote here</h3></div>
      </div>

      <div class="content container">
        <div ui-view=""></div>
      </div>

      <div class="footer">
        <div class="container">
          <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
        </div>
      </div>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/culture.js"></script>
    <script src="scripts/controllers/info.js"></script>
    <script src="scripts/controllers/event.js"></script>
    <!-- endbuild -->
</body>
</html>
