<!-- partials/event/event.html -->
<div class="home content-page row">
  <div class="img-reel hidden-sm col-sm-3">
    <div class="img-holder"></div>
  </div>

  <div class="banner">
    <p>Welcome to</p>
    <img class="img-responsive" src="images/logo-1.png" alt="Korea Burn Logo"/>
    <p>Korea Burn</p>
  </div>

  <div class="col-xs-offset-1 col-sm-10">

    <div class="content-toggle">
      <H2>Events</H2>
      <i ng-click="toggleSubcontent()" class="glyphicon glyphicon-remove-circle" ng-class="{'open-45': !expanded}"></i>
    </div>
    <div ng-show="expanded" class="box">
      <ul>
        <li  ng-click="toggleSubcontent()" ui-sref="event.koreaburn2015">Korea Burn 2015</li>
        <li><strike>Here is where</strike></li>
        <li><strike>the links to all</strike></li>
        <li><strike>event sub-categories</strike></li>
        <li><strike>would be!</strike></li>
      </ul>
    </div>
    <div ui-view></div>
  </div>
</div>
