<!-- partials/event/event.html -->
<div class="home content-page row">
  <div class="img-reel hidden-sm col-sm-3">
    <div class="img-holder"></div>
  </div>

  <div class="banner">
    <p>Welcome to</p>
    <img class="img-responsive" src="images/logo-1.png" alt="Korea Burn Logo"/>
    <p>Korea Burn</p>
  </div>

  <div class="col-xs-offset-1 col-sm-10">

    <div class="content-toggle">
      <H2>Events</H2>
      <i ng-click="toggleSubcontent()" class="glyphicon glyphicon-remove-circle" ng-class="{'open-45': !expanded}"></i>
    </div>
    <div ui-view></div>
  </div>
</div>
